{% extends "base.html" %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<div class="container py-3">
    <header>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Главная страница</h1>
            <p class="fs-5 text-muted"><ya-tr-span>
                    Наладить прием деталей от нас при помощи сканирования штрих-кодов с нашего стикера, чтобы вручную не
                    искать
                    номера деталей в Вашей системе при приеме. Вы увидите ускорение уже на этом этапе.
                </ya-tr-span>
                <img height="50%" width="48%" src="/static/sticker-description.png">
                <img height="50%" width="50%" src="/static/stiker_schem.gif" alt="">
                <ya-tr-span>
                    Приёмка товара происходит по штрих-коду на стикере, который расположен вертикально слева. Выдача
                    товара
                    происходит аналогично приемке товара по штрих коду на стикере.
                </ya-tr-span>
            </p>
        </div>
    </header>
</div>




{% endblock %}