{% extends "base.html" %}


{% block body %}

<style>
        a {color: #000 !important;text-decoration: none}
        a {text-decoration: none; /* Отменяем подчеркивание у ссылки */}
</style>


<form method="POST">
    <div class="input-group mb-3">
        <input oninput="this.value = this.value.toUpperCase()" value="{{value1}}" type="search" name="search_art"
               class="form-control form-control-lg" placeholder="Отсканируйте штрихкод" autofocus
               onfocus="this.selectionStart = this.selectionEnd = this.value.length;">
        <button type="submit" class="btn btn-primary">Принять</button>
    </div>
</form>


<div align="center"> <h1>{{count}}/{{qty}}</h1></div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Наименование</th>
        <th scope="col">Время загрузки</th>
        <th scope="col">Статус</th>
    </tr>
    </thead>

    {%for i in date3%}

    <tbody>
    {%if i.status != "Принят"%}
    <tr>
        <th scope="row">{{i.id}}</th>
        <td><a href="/{{i.title}}/{{i.id}}">{{i.title}}</a></td>
        <td>{{i.time.strftime('%d-%m-%Y')}}</td>
        <td>{{i.status}}</td>
    </tr>
    </tbody>


    {%elif i.status == "Принят"%}
    <tr style="background-color: green;">
        <th scope="row">{{i.id}}</th>
        <td><a href="/{{i.title}}/{{i.id}}">{{i.title}}</a></td>
        <td>{{i.time.strftime('%d-%m-%Y')}}</td>
        <td>{{i.status}}</td>
    </tr>
    {% endif %}

    {%endfor%}

</table>


{%endblock%}